body {
    width:300px;
}

label {
    width:70px;
    display:inline-block;
}

input {
    margin-left:20px;
}

ul {
    list-style-type:none;
    padding: 10px;
    margin: 0px;
}

li {
    display: inline-block;
    padding-bottom: 5px;
    line-height: 20px;
    width: 100%;
}

li button {
    margin-left: 10px;
    float:right;
}

b {
    padding-left: 5px;
}